<div class="row">
  <div class="col-md-12">
    <h1>i take pictures</h1>
    <p class="lead">
      in kindergarten, i learned 2 things:
      <span class="text-danger">don't rat out your friends</span>, and two,
      <span class="text-info">take pictures</span> because apparently it
      <em>lasts longer</em>.
    </p>
    <div class="row">
      <div class="col-md-2">
        <img src="http://goo.gl/LKev58" class="img-responsive thumbnail">
      </div>
      <div class="col-md-10">
        <p>i take pictures on one of these. they are not entirely
        reliable, but i don't have to wait for my film to develop, either.
        my technique is pretty much point and click. whatever else i do is
        none of your business.</p>
        <p>i take pictures for money if you have some money and you need
        someone to take pictures for you.</p>
        <p>thanks a lot for visiting my site, i hope you like it. i do
        social media stuff, if you would like to get in touch. if not, that's
        cool, too.</p>
      </div>
    </div>
    <p class="lead">
      keep your head down, your mouth shut, and always charge more than the
      next guy 'cause you gotta make that scratch.
    </p>
  </div>
</div>